In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [2]:
tips = pd.read_csv('tips.csv')
# Add tip percentage of total bill that takes total bill / tip. Display the first 5 rows.

In [3]:
#group by day and smoker

In [4]:
#set a new variable up and set tip pct in it from your previous grouped variable. Calculate the mean.

In [5]:
#create a list of functions to apply to aggregate the data. Do count, mean, min, max in a list.
#following that run the calculations on the grouped variable for tip_pct and total_bill.

In [6]:
#show the results for total_bill

In [7]:
#using the grouped variable, use .agg to implement a dictionary where you show the
#highest tip and average total_bill

In [8]:
#group tips by day and smoker similar to above. This time set as_index to false to implement
#our own indices.

Code Challenge 2

In [9]:
#create a function that shows the highest tip %. The input is the df, the default number should be
#5 and the column is tip_pct. Return the largest values first.

In [10]:
#group it by smoker and apply the top function to it by using chaining.

In [11]:
#group by smoker and day and show me the highest tip% of the day based on total_bill.

Challenge 3

In [12]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
#cut this into four quartiles from data1

In [13]:
#create a get stats function that gets the mean, max, min, count, and std deviation.

grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack()

NameError: name 'quartiles' is not defined

In [26]:
# Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

            min       max  count      mean
data1
0     -3.399312  1.670835  100.0 -0.069930
1     -1.801179  2.628441  100.0  0.043954
2     -2.925113  2.527939  100.0 -0.090777
3     -2.315555  3.260383  100.0  0.080316
4     -2.041696  2.074345  100.0 -0.126442
5     -2.989741  2.184810  100.0  0.009929
6     -2.084231  2.458842  100.0 -0.040484
7     -3.056990  2.954439  100.0  0.049913
8     -3.745356  2.735527  100.0  0.108133
9     -2.064111  2.377020  100.0  0.193693

Challenge 4

In [27]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
s

0         NaN
1    1.847446
2         NaN
3   -0.302450
4         NaN
5    1.212354
dtype: float64

In [28]:
#fill the NaN with the mean

0    0.919117
1    1.847446
2    0.919117
3   -0.302450
4    0.919117
5    1.212354
dtype: float64

In [29]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index=states)
data

Ohio         -1.613474
New York     -0.573966
Vermont       0.424894
Florida       1.257544
Oregon       -1.065343
Nevada        0.276356
California    1.680135
Idaho        -0.679335
dtype: float64

In [30]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data
#groupby the group key and find the mean.

East   -0.309965
West    0.307396
dtype: float64

In [31]:
#describe in detail what this fill_mean is doing
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

Ohio         -1.613474
New York     -0.573966
Vermont      -0.309965
Florida       1.257544
Oregon       -1.065343
Nevada        0.307396
California    1.680135
Idaho         0.307396
dtype: float64

In [32]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

Ohio         -1.613474
New York     -0.573966
Vermont       0.500000
Florida       1.257544
Oregon       -1.065343
Nevada       -1.000000
California    1.680135
Idaho        -1.000000
dtype: float64

In [33]:
# Hearts, Spades, Clubs, Diamonds
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)

deck = pd.Series(card_val, index=cards)

In [34]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [35]:
def draw(deck, n=5):
    return deck.sample(n)
draw(deck)

9C    9
4S    4
9H    9
4H    4
8H    8
dtype: int64

In [36]:
get_suit = lambda card: card[-1] # last letter is suit
deck.groupby(get_suit).apply(draw, n=2)

C  8C      8
   JC     10
D  8D      8
   10D    10
H  6H      6
   8H      8
S  7S      7
   QS     10
dtype: int64

In [37]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

QC    10
8C     8
KD    10
JD    10
9H     9
4H     4
2S     2
QS    10
dtype: int64

In [38]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                'b', 'b', 'b', 'b'],
                   'data': np.random.randn(8),
                   'weights': np.random.rand(8)})
df

  category      data   weights
0        a  1.911078  0.321406
1        a -0.284044  0.882984
2        a  0.412438  0.462226
3        a  0.319356  0.543428
4        b -0.011886  0.170341
5        b  1.508348  0.936113
6        b -1.177038  0.586625
7        b -0.086293  0.826340

In [39]:
grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])
grouped.apply(get_wavg)

category
a    0.329229
b    0.257271
dtype: float64

In [41]:
close_px = pd.read_csv('stock_px_2.csv', parse_dates=True,
                       index_col=0)
close_px.info()
close_px[-4:]

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
AAPL    2214 non-null float64
MSFT    2214 non-null float64
XOM     2214 non-null float64
SPX     2214 non-null float64
dtypes: float64(4)
memory usage: 86.5 KB

              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [46]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [47]:
by_year.apply(regress, 'AAPL', ['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

Code Challenge 5

In [48]:
#create a pivot table from the tips dataset and set the index as day and smoker.

                 size       tip   tip_pct  total_bill
day  smoker
Fri  No      2.250000  2.812500  0.151650   18.420000
     Yes     2.066667  2.714000  0.174783   16.813333
Sat  No      2.555556  3.102889  0.158048   19.661778
     Yes     2.476190  2.875476  0.147906   21.276667
Sun  No      2.929825  3.167895  0.160113   20.506667
     Yes     2.578947  3.516842  0.187250   24.120000
Thur No      2.488889  2.673778  0.160298   17.113111
     Yes     2.352941  3.030000  0.163863   19.190588

In [51]:
#create a pivot table from the tips dataset and set the index as time and smoker. 
#use tip_pct as the input, and set columns to day. Use len to find out the frequency of group sizes

day             Fri   Sat   Sun  Thur    All
time   smoker
Dinner No       3.0  45.0  57.0   1.0  106.0
       Yes      9.0  42.0  19.0   NaN   70.0
Lunch  No       1.0   NaN   NaN  44.0   45.0
       Yes      6.0   NaN   NaN  17.0   23.0
All            19.0  87.0  76.0  62.0  244.0

In [52]:
#create a pivot table from the tips dataset and set the index as time, size, and smoker. 
#use tip_pct as the input, and set columns to day. Use len to find out the frequency of group sizes
#fill the NaN values with 0. Aggregate the data using mean.

day                      Fri       Sat       Sun      Thur
time   size smoker
Dinner 1    No      0.000000  0.137931  0.000000  0.000000
            Yes     0.000000  0.325733  0.000000  0.000000
       2    No      0.139622  0.162705  0.168859  0.159744
            Yes     0.171297  0.148668  0.207893  0.000000
       3    No      0.000000  0.154661  0.152663  0.000000
...                      ...       ...       ...       ...
Lunch  3    Yes     0.000000  0.000000  0.000000  0.204952
       4    No      0.000000  0.000000  0.000000  0.138919
            Yes     0.000000  0.000000  0.000000  0.155410
       5    No      0.000000  0.000000  0.000000  0.121389
       6    No      0.000000  0.000000  0.000000  0.173706

[21 rows x 4 columns]

In [58]:
#do a cross tab of time and day by smoker. set the margins equal to true. Discuss 
#the benefit of using a crosstab.

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244