# Assignment 1 - Alejandro Vera

Creating the list with the integer values

In [50]:
my_list = [4, 8, 15, 16]

append my last name to the list

In [51]:
my_list.append('vera')

Print out the list again with my last name appended on

In [52]:
print(my_list)

[4, 8, 15, 16, 'vera']

### Q2: To use tab look up you have to start typing the begginning of a command and a dropdown list of possible options will appear if not then you can also click 'ctrl' + 'space' if you're on visual studio code to get the drop down list to appear

In the first section, I am setting variables and printing them out. 
In the second section, I am added 100 to the `mathtest` variable and then printing it
in the third section, I am using the power operator to square 9 and printing it
Finally, I am subtractin `squaretest` from `mathtest` and printing it out

In [53]:
mathtest = 100
print(mathtest)

mathtest += 100
print(mathtest)

squaretest = 9
squaretest = squaretest ** 2
print(squaretest)


diff = mathtest - squaretest
print(diff)

100
200
81
119

I used integer divison here with the `//` to return only the integer of this non perfect divison

In [54]:
20 // 9

2

Here I set `Log1` to a list of numbers. then I get `Log2` equal to `Log1`. Finally I made a simple if statment comapring the two lists and printing out appropriate responses

In [55]:
Log1 = [1,2,3,4]
Log2 = Log1
if (Log1 == Log2):
    print('these lists are the same')
else:
    print('these lists are not the same')

these lists are the same

Mutable Objects are objects that can be changed after they are initialized and unmutablle objects are the exact opposite. They cannot be changed after they are initialized. 

Example

In [56]:
#immutable object 
immutable = (31,23, 5643,125)
#immutable[4] = 32  -- this is why it is immutable

#mutable object
list1 = [5.5,8.8,2.2]
list2 = list1

print(id(list1) == id(list2))

list1.pop()

print(id(list1) == id(list2))

True
True

In [57]:
analytics = ("Alejandro", "Vera", "Loves", "Data", "Analytics")
print(analytics)

('Alejandro', 'Vera', 'Loves', 'Data', 'Analytics')

This is not allowed due to tuples being immutable. To fix this you could convert this to a list and modify it there.

In [58]:
analytics[3] = "likes"

TypeError: 'tuple' object does not support item assignment

Here we are doing a for loop where we go from range(start, end, by how much) so we start at 10, and go until 0, and iterate by -1

In [59]:
for n in range(10, 0, -1):
    print(n)

10
9
8
7
6
5
4
3
2
1

Here is a simple if statment with a condition that if score is freater than 60 then the we will print out an S else the code will print out a U

In [60]:
score = 44

if(score > 60):
    print('S')
else:
    print('U')

U