# VeraAssignment04 - Pandas Data Analysis
## NBA Dataset
Describe the purpose/abstract of your analysis on this dataset and what insight you gained.

# Import and Read the Dataset

In [1]:
import requests
import pandas as pd
import numpy as np

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
data = pd.read_csv("nba_all_elo.csv")
pd.set_option("display.max.columns", None)
type(data)

pandas.core.frame.DataFrame

# Data Exploration
### Print the head and shape of the data.

In [3]:
data.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [4]:
data.shape

(126314, 23)

### Set the index of the dataset to game id and print the head to confirm. Reprint the shape and the first ten rows of the dataset.

In [5]:
data = data.set_index('game_id')
data.shape

(126314, 22)

In [6]:
data.head(10)

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
game_id,,,,,,,,,,,,,,,,,,,,,,
194611010TRH,1,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
194611010TRH,1,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
194611020CHS,2,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
194611020CHS,2,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
194611020DTF,3,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
194611020DTF,3,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,50,1300.0000,1320.3811,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
194611020PRO,4,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,53,1300.0000,1294.8458,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
194611020PRO,4,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.0000,1305.1542,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
194611020STB,5,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,51,1300.0000,1295.3092,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
194611020STB,5,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.0000,1304.6908,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

### Print the tail of the dataset to verify our import filled all the way to the end of the file.

In [7]:
data.tail()

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
game_id,,,,,,,,,,,,,,,,,,,,,,
201506110CLE,63155,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
201506140GSW,63156,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
201506140GSW,63156,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
201506170CLE,63157,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
201506170CLE,63157,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

### Print the info of the dataset. This should show datatypes and features of the dataset.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126314 entries, 194611010TRH to 201506170CLE
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   lg_id          126314 non-null  object
 2   _iscopy        126314 non-null  int64
 3   year_id        126314 non-null  int64
 4   date_game      126314 non-null  object
 5   seasongame     126314 non-null  int64
 6   is_playoffs    126314 non-null  int64
 7   team_id        126314 non-null  object
 8   fran_id        126314 non-null  object
 9   pts            126314 non-null  int64
 10  elo_i          126314 non-null  float64
 11  elo_n          126314 non-null  float64
 12  win_equiv      126314 non-null  float64
 13  opp_id         126314 non-null  object
 14  opp_fran       126314 non-null  object
 15  opp_pts        126314 non-null  int64
 16  opp_elo_i      126314 non-null  float64
 17  opp_elo_n      126314 non-null  float64
 18  game_location  126314 non-null  object
 19  game_result    126314 non-null  object
 20  forecast       126314 non-null  float64
 21  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 22.2+ MB

### Write a command to print the descriptive statistics of the dataset.

In [9]:
data.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

### Print and count the opposing franchises values in the dataset.

In [79]:
unique_opp_fran = data['opp_fran'].unique()
unique_opp_fran_count = data['opp_fran'].value_counts()

print(unique_opp_fran)
print()
print(unique_opp_fran_count)

['Knicks' 'Huskies' 'Stags' 'Capitols' 'Falcons' 'Steamrollers' 'Celtics'
 'Bombers' 'Ironmen' 'Rebels' 'Warriors' 'Baltimore' 'Jets' 'Pistons'
 'Lakers' 'Kings' 'Denver' 'Hawks' 'Olympians' 'Redskins' 'Waterloo'
 'Packers' 'Sixers' 'Wizards' 'Bulls' 'Thunder' 'Stars' 'Squires'
 'Rockets' 'Pacers' 'Colonels' 'Nuggets' 'Spurs' 'Spirits' 'Sounds'
 'Floridians' 'Condors' 'Nets' 'Bucks' 'Suns' 'Cavaliers' 'Clippers'
 'Trailblazers' 'Sails' 'Jazz' 'Mavericks' 'Pelicans' 'Heat'
 'Timberwolves' 'Magic' 'Grizzlies' 'Raptors' 'Hornets']

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Denver            62
Waterloo          62
Ironmen           60
Huskies           60
Jets              60
Falcons           60
Name: opp_fran, dtype: int64

### Print and count the opposing points values in the dataset.

In [82]:
unique_score_fran = data['opp_pts'].unique()
unique_score_fran.sort();
unique_score_fran_count = data['opp_pts'].value_counts()

print(unique_score_fran)
print()
print(unique_score_fran_count)

[  0   2  18  19  33  38  40  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 165 166 168 169 171 172 173 176 177 184 186]

102    3582
103    3581
99     3554
106    3528
105    3509
       ...
168       1
38        1
165       1
33        1
0         1
Name: opp_pts, Length: 139, dtype: int64

# Data Analysis
### Write a statement that uses numpy where to create a new column called 'high_scores'. Write a conditional statement saying any nba opponents points > 100 should fill the 'high_scores' column with a 'y' and everything else, an 'n'. Print the first ten rows of the dataset after.

In [12]:
data['high_scores'] = np.where(data['opp_pts'] > 100, 'y', 'n')

data.head(10)

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,high_scores
game_id,,,,,,,,,,,,,,,,,,,,,,,
194611010TRH,1,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,n
194611010TRH,1,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,n
194611020CHS,2,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,n
194611020CHS,2,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,n
194611020DTF,3,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,n
194611020DTF,3,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,50,1300.0000,1320.3811,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN,n
194611020PRO,4,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,53,1300.0000,1294.8458,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN,n
194611020PRO,4,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.0000,1305.1542,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN,n
194611020STB,5,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,51,1300.0000,1295.3092,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN,n
194611020STB,5,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.0000,1304.6908,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN,n

### Use your knowledge of pandas to get a list of games the TimberWolves played and print 25 rows.

In [13]:
TW = data[data['fran_id'] == 'Timberwolves']

TW.head(25)

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,high_scores
game_id,,,,,,,,,,,,,,,,,,,,,,,
198911030SEA,30972,NBA,1,1990,11/3/1989,1,0,MIN,Timberwolves,94,1300.0000,1297.5072,23.323610,SEA,Thunder,106,1522.9867,1525.4795,A,L,0.134789,NaN,y
198911050POR,30984,NBA,1,1990,11/5/1989,2,0,MIN,Timberwolves,83,1297.5072,1294.7887,23.092154,POR,Trailblazers,93,1484.2450,1486.9635,A,L,0.161029,NaN,n
198911080MIN,30999,NBA,0,1990,11/8/1989,3,0,MIN,Timberwolves,84,1294.7887,1289.2142,22.621931,CHI,Bulls,96,1565.5848,1571.1593,H,L,0.272261,NaN,n
198911100MIN,31012,NBA,0,1990,11/10/1989,4,0,MIN,Timberwolves,125,1289.2142,1301.8452,23.695835,PHI,Sixers,118,1515.8893,1503.2583,H,W,0.325370,NaN,y
198911120MIN,31028,NBA,0,1990,11/12/1989,5,0,MIN,Timberwolves,97,1301.8452,1294.9655,23.107161,SEA,Thunder,108,1516.3013,1523.1810,H,L,0.340995,NaN,y
198911140MIN,31037,NBA,0,1990,11/14/1989,6,0,MIN,Timberwolves,101,1294.9655,1301.7524,23.687838,GSW,Warriors,98,1450.9146,1444.1276,H,W,0.420172,NaN,n
198911150MIN,31047,NBA,0,1990,11/15/1989,7,0,MIN,Timberwolves,76,1301.7524,1289.8660,22.676600,SAS,Spurs,86,1363.3141,1375.2006,H,L,0.555093,NaN,n
198911170BOS,31055,NBA,1,1990,11/17/1989,8,0,MIN,Timberwolves,99,1289.8660,1286.9614,22.433590,BOS,Celtics,116,1526.5529,1529.4574,A,L,0.125854,NaN,y
198911180NYK,31069,NBA,1,1990,11/18/1989,9,0,MIN,Timberwolves,96,1286.9614,1284.5331,22.231672,NYK,Knicks,111,1540.3091,1542.7374,A,L,0.115676,NaN,y
198911210MIN,31081,NBA,0,1990,11/21/1989,10,0,MIN,Timberwolves,101,1284.5331,1282.1599,22.035450,UTA,Jazz,103,1550.2230,1552.5962,H,L,0.278124,NaN,y
198911220MIN,31094,NBA,0,1990,11/22/1989,11,0,MIN,Timberwolves,93,1282.1599,1278.7147,21.752544,DEN,Nuggets,96,1499.6501,1503.0953,H,L,0.337081,NaN,n
198911240DAL,31099,NBA,1,1990,11/24/1989,12,0,MIN,Timberwolves,89,1278.7147,1275.6674,21.504250,DAL,Mavericks,99,1444.4480,1447.4954,A,L,0.178040,NaN,n
198911250CHH,31108,NBA,1,1990,11/25/1989,13,0,MIN,Timberwolves,73,1275.6674,1270.1501,21.059389,CHH,Pelicans,81,1296.2322,1301.7494,A,L,0.333138,NaN,n
198911290MIA,31135,NBA,1,1990,11/29/1989,14,0,MIN,Timberwolves,105,1270.1501,1280.5435,21.902424,MIA,Heat,100,1290.9008,1280.5074,A,W,0.332900,NaN,n
198911300ORL,31142,NBA,1,1990,11/30/1989,15,0,MIN,Timberwolves,96,1280.5435,1276.8462,21.600082,ORL,Magic,103,1368.7770,1372.4742,A,L,0.252833,NaN,y
198912020CLE,31155,NBA,1,1990,12/2/1989,16,0,MIN,Timberwolves,101,1276.8462,1327.1073,25.931570,CLE,Cavaliers,74,1533.6508,1483.3896,A,W,0.113656,NaN,n
198912050MIN,31173,NBA,0,1990,12/5/1989,17,0,MIN,Timberwolves,92,1327.1073,1330.1210,26.205763,NJN,Nets,90,1312.2751,1309.2615,H,W,0.659491,NaN,n
198912090ATL,31196,NBA,1,1990,12/9/1989,18,0,MIN,Timberwolves,91,1330.1210,1327.9492,26.008015,ATL,Hawks,104,1586.5212,1588.6930,A,L,0.113890,NaN,y
198912120IND,31214,NBA,1,1990,12/12/1989,19,0,MIN,Timberwolves,112,1327.9492,1327.0311,25.924660,IND,Pacers,113,1540.4735,1541.3916,A,L,0.141969,NaN,y
198912130MIN,31224,NBA,0,1990,12/13/1989,20,0,MIN,Timberwolves,87,1327.0311,1321.2427,25.402447,DAL,Mavericks,90,1417.4824,1423.2709,H,L,0.513738,NaN,n
198912150MIN,31236,NBA,0,1990,12/15/1989,21,0,MIN,Timberwolves,84,1321.2427,1303.1956,23.812418,MIA,Heat,95,1261.6083,1279.6554,H,L,0.714824,NaN,n
198912170MIN,31250,NBA,0,1990,12/17/1989,22,0,MIN,Timberwolves,112,1303.1956,1297.3031,23.306185,UTA,Jazz,122,1538.4479,1544.3403,H,L,0.314627,NaN,y
198912190WSB,31262,NBA,1,1990,12/19/1989,23,0,MIN,Timberwolves,99,1297.3031,1294.5591,23.072668,WSB,Wizards,112,1512.3666,1515.1106,A,L,0.140197,NaN,y
198912200MIN,31266,NBA,0,1990,12/20/1989,24,0,MIN,Timberwolves,97,1294.5591,1291.5177,22.815516,LAL,Lakers,106,1648.7283,1651.7697,H,L,0.187991,NaN,y
198912230MIN,31288,NBA,0,1990,12/23/1989,25,0,MIN,Timberwolves,90,1291.5177,1287.2438,22.457142,MIL,Bucks,94,1488.3965,1492.6704,H,L,0.364085,NaN,n

### Write a loc statement to select march 4th, 2015's Minnesota game using the index of the dataset. You should get two values.

In [29]:
data.loc['201503040MIN']

,gameorder,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,high_scores
game_id,,,,,,,,,,,,,,,,,,,,,,,
201503040MIN,62748,NBA,0,2015,3/4/2015,60,0,MIN,Timberwolves,85,1360.1581,1341.7996,24.851854,DEN,Nuggets,100,1366.9797,1385.3383,H,L,0.630969,NaN,n
201503040MIN,62748,NBA,1,2015,3/4/2015,61,0,DEN,Nuggets,100,1366.9797,1385.3383,28.870102,MIN,Timberwolves,85,1360.1581,1341.7996,A,W,0.369031,NaN,n

### Using iloc, grab the datasets 899th game.

In [16]:
data.iloc[898]

gameorder              450
lg_id                  NBA
_iscopy                  1
year_id               1948
date_game        1/19/1948
seasongame              26
is_playoffs              0
team_id                PHW
fran_id           Warriors
pts                     63
elo_i              1396.61
elo_n              1407.95
win_equiv          42.1854
opp_id                 NYK
opp_fran            Knicks
opp_pts                 57
opp_elo_i          1414.97
opp_elo_n          1403.63
game_location            A
game_result              W
forecast          0.335958
notes                  NaN
high_scores              n
Name: 194801190NYK, dtype: object

### Count the values of the high_scores feature. Discuss the impact of scoring over 100 in a basketball game based on the analysis of the values.

In [53]:
h_scores = data[data['high_scores'] == 'y']
h_scores['high_scores'].count()

70729

The imact of scoring over 100 in a baseketball game is not impmactful. Roughly 56% of all games are scoring over 100 points in a game.

# Bonus Points: 
### Create a subset of this dataset and do a brief analysis on it. An example of a subset would be fran_id, pts, and result.

In [68]:
subset = data[['fran_id', 'pts', 'opp_fran', 'opp_pts', 'high_scores']]
subset

                fran_id  pts   opp_fran  opp_pts high_scores
game_id
194611010TRH    Huskies   66     Knicks       68           n
194611010TRH     Knicks   68    Huskies       66           n
194611020CHS      Stags   63     Knicks       47           n
194611020CHS     Knicks   47      Stags       63           n
194611020DTF    Falcons   33   Capitols       50           n
...                 ...  ...        ...      ...         ...
201506110CLE  Cavaliers   82   Warriors      103           y
201506140GSW   Warriors  104  Cavaliers       91           n
201506140GSW  Cavaliers   91   Warriors      104           y
201506170CLE  Cavaliers   97   Warriors      105           y
201506170CLE   Warriors  105  Cavaliers       97           n

[126314 rows x 5 columns]

In [70]:
subset.describe()

                 pts        opp_pts
count  126314.000000  126314.000000
mean      102.729982     102.729982
std        14.814845      14.814845
min         0.000000       0.000000
25%        93.000000      93.000000
50%       103.000000     103.000000
75%       112.000000     112.000000
max       186.000000     186.000000

In [74]:
subset[subset['pts'] == 186]

              fran_id  pts opp_fran  opp_pts high_scores
game_id
198312130DEN  Pistons  186  Nuggets      184           y