# VeraAssignment07
## Data aggregation with a mobile phone dataset.

### Description of the data
1. date: The date and time of the entry
2. duration: The duration (in seconds) for each call, the amount of data (in MB) for each data entry,  and the number of texts sent (usually 1) for each sms entry.
3. item: A description of the event occurring – can be one of call, sms, or data.
4. month: The billing month that each entry belongs to – of form ‘YYYY-MM’.
5. network: The mobile network that was called/texted for each entry.
6. network_type: Whether the number being called was a mobile, international (‘world’), voicemail, 
landline, or other (‘special’) number.

In [2]:
import pandas as pd
import dateutil

In [5]:
# Load data from csv file
data = pd.read_csv('mobile_phones.csv')

# String to date conversion
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [6]:
# Print head of the data
data.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [17]:
# Count how many rows the dataset has
print(10528.0)

10528.0

In [16]:
# Display the longest call made / duration
data['duration'].max()

10528.0

In [ ]:
# Display the shortest call made / duration

In [ ]:
# Display the average call made / duration

In [15]:
# How many total seconds of phone calls are recorded in this dataset?

92321.0

In [16]:
# Use value counts to find out how many entries are posted in each month

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [17]:
# Find the number of non-null unique network entries

9

In [18]:
data.groupby(['month']).#use groups.keys here to group them into keys.

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [19]:
# Determine the length of the monthy column and specifying groups['2014-11'] by using len.

230

In [20]:
# Find the first entry for each month.

         index                date  duration  item   network network_type
month
2014-11      0 2014-10-15 06:58:00    34.429  data      data         data
2014-12    228 2014-11-13 06:58:00    34.429  data      data         data
2015-01    381 2014-12-13 06:58:00    34.429  data      data         data
2015-02    577 2015-01-13 06:58:00    34.429  data      data         data
2015-03    729 2015-02-12 20:15:00    69.000  call  landline     landline

In [21]:
# Find the sum of durations per month.

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [1]:
# Find the number of dates/entries each month. *hint use count

In [24]:
# What is the sum of durations, for calls only, to each network
data[data['item'] == 'call'].#place code here to find the durations to each network

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [25]:
# Determine how many calls, sms, and data entries are in each month?

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [26]:
# How many calls, texts, and data are sent per month, split by network_type?

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64

In [33]:
# Sum the duration by month

          duration
month
2014-11  26639.441
2014-12  14641.870
2015-01  18223.299
2015-02  15522.299
2015-03  22750.441

In [28]:
# Groupby month and make sure that each month is assigned its own unique index.
# Use a dictionary to sum duration.

     month   duration
0  2014-11  26639.441
1  2014-12  14641.870
2  2015-01  18223.299
3  2015-02  15522.299
4  2015-03  22750.441

In [29]:
# Group the data frame by month and item and extract a number of stats from each group
data.groupby(
   ['month', 'item']
).agg(
    {
         # Sum duration per group
         # Get the count of networks
         # Get the first date per group
    }
)

               duration  network_type                date
month   item
2014-11 call  25547.000           107 2014-10-15 06:58:00
        data    998.441            29 2014-10-15 06:58:00
        sms      94.000            94 2014-10-16 22:18:00
2014-12 call  13561.000            79 2014-11-14 17:24:00
        data   1032.870            30 2014-11-13 06:58:00
        sms      48.000            48 2014-11-14 17:28:00
2015-01 call  17070.000            88 2014-12-15 20:03:00
        data   1067.299            31 2014-12-13 06:58:00
        sms      86.000            86 2014-12-15 19:56:00
2015-02 call  14416.000            67 2015-01-15 10:36:00
        data   1067.299            31 2015-01-13 06:58:00
        sms      39.000            39 2015-01-15 12:23:00
2015-03 call  21727.000            47 2015-02-12 20:15:00
        data    998.441            29 2015-02-13 06:58:00
        sms      25.000            25 2015-02-19 18:46:00

In [32]:
# Group the data frame by month and item and extract a number of stats from each group
data.groupby(
    ['month', 'item']
).agg(
    {
        # Find the min, max, and sum of the duration column
        
        # find the number of network type entries
        
        # minimum, first, and number of unique dates
        
    }
)

             duration                       network_type                date  \
                  min        max        sum        count                 min
month   item
2014-11 call    1.000   1940.000  25547.000          107 2014-10-15 06:58:00
        data   34.429     34.429    998.441           29 2014-10-15 06:58:00
        sms     1.000      1.000     94.000           94 2014-10-16 22:18:00
2014-12 call    2.000   2120.000  13561.000           79 2014-11-14 17:24:00
        data   34.429     34.429   1032.870           30 2014-11-13 06:58:00
        sms     1.000      1.000     48.000           48 2014-11-14 17:28:00
2015-01 call    2.000   1859.000  17070.000           88 2014-12-15 20:03:00
        data   34.429     34.429   1067.299           31 2014-12-13 06:58:00
        sms     1.000      1.000     86.000           86 2014-12-15 19:56:00
2015-02 call    1.000   1863.000  14416.000           67 2015-01-15 10:36:00
        data   34.429     34.429   1067.299           31 2015-01-13 06:58:00
        sms     1.000      1.000     39.000           39 2015-01-15 12:23:00
2015-03 call    2.000  10528.000  21727.000           47 2015-02-12 20:15:00
        data   34.429     34.429    998.441           29 2015-02-13 06:58:00
        sms     1.000      1.000     25.000           25 2015-02-19 18:46:00


                           first nunique
month   item
2014-11 call 2014-10-15 06:58:00     104
        data 2014-10-15 06:58:00      29
        sms  2014-10-16 22:18:00      79
2014-12 call 2014-11-14 17:24:00      76
        data 2014-11-13 06:58:00      30
        sms  2014-11-14 17:28:00      41
2015-01 call 2014-12-15 20:03:00      84
        data 2014-12-13 06:58:00      31
        sms  2014-12-15 19:56:00      58
2015-02 call 2015-01-15 10:36:00      67
        data 2015-01-13 06:58:00      31
        sms  2015-01-15 12:23:00      27
2015-03 call 2015-02-12 20:15:00      47
        data 2015-02-13 06:58:00      29
        sms  2015-02-19 18:46:00      17

In [ ]:
#create your own user defined function here to use on the dataset.
#if you have been following along in the videos you should already have one prepared.

In [ ]:
#perform a visualization of the grouped data. You can choose any grouping/vis you wish. Make sure
#to visualize the grouped data in a useful way.

In [ ]:
#report one interesting finding about mobile phone networks from this analysis that
#you noted during the analysis.