# VeraAssignment07
## Data aggregation with a mobile phone dataset.

### Description of the data
1. date: The date and time of the entry
2. duration: The duration (in seconds) for each call, the amount of data (in MB) for each data entry,  and the number of texts sent (usually 1) for each sms entry.
3. item: A description of the event occurring – can be one of call, sms, or data.
4. month: The billing month that each entry belongs to – of form ‘YYYY-MM’.
5. network: The mobile network that was called/texted for each entry.
6. network_type: Whether the number being called was a mobile, international (‘world’), voicemail, 
landline, or other (‘special’) number.

In [26]:
import pandas as pd
import dateutil

In [27]:
# Load data from csv file
data = pd.read_csv('mobile_phones.csv')

# String to date conversion
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [28]:
# Print head of the data
data.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [29]:
# Count how many rows the dataset has
data['index'].count()

830

In [30]:
# Display the longest call made / duration
data['duration'].max()

10528.0

In [31]:
# Display the shortest call made / duration
data[data['item'] == 'call'].duration.min()

1.0

In [32]:
# Display the average call made / duration
data[data['item'] == 'call'].duration.mean()

237.94072164948454

In [33]:
# How many total seconds of phone calls are recorded in this dataset?
data[data['item'] == 'call'].duration.sum()

92321.0

In [34]:
# Use value counts to find out how many entries are posted in each month
months = data.groupby(['month'])

months['month'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: month, dtype: int64

In [35]:
# Find the number of non-null unique network entries
networks = data.groupby('network')

networks['index'].nunique().count()

9

In [36]:
# Use groups.keys here to group them into keys.
months.groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [37]:
# Determine the length of the monthy column and specifying groups['2014-11'] by using len.
len(months.groups['2014-11'])

230

In [38]:
# Find the first entry for each month.
months.first()

         index                date  duration  item   network network_type
month
2014-11      0 2014-10-15 06:58:00    34.429  data      data         data
2014-12    228 2014-11-13 06:58:00    34.429  data      data         data
2015-01    381 2014-12-13 06:58:00    34.429  data      data         data
2015-02    577 2015-01-13 06:58:00    34.429  data      data         data
2015-03    729 2015-02-12 20:15:00    69.000  call  landline     landline

In [39]:
# Find the sum of durations per month.
months['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [40]:
# Find the number of dates/entries each month. *hint use count
months['index'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: index, dtype: int64

In [41]:
# What is the sum of durations, for calls only, to each network
data[data['item'] == 'call'].groupby(['network']).duration.sum()#place code here to find the durations to each network

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [42]:
# Determine how many calls, sms, and data entries are in each month?
data.groupby(['month', 'item']).date.count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [43]:
# How many calls, texts, and data are sent per month, split by network_type?
data.groupby(['month', 'network_type']).date.count()

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64

In [44]:
# Sum the duration by month
months.agg({'duration' : 'sum'})

          duration
month
2014-11  26639.441
2014-12  14641.870
2015-01  18223.299
2015-02  15522.299
2015-03  22750.441

In [45]:
# Groupby month and make sure that each month is assigned its own unique index.
# Use a dictionary to sum duration.
data.groupby(['month'], as_index=False).duration.sum()

     month   duration
0  2014-11  26639.441
1  2014-12  14641.870
2  2015-01  18223.299
3  2015-02  15522.299
4  2015-03  22750.441

In [46]:
# Group the data frame by month and item and extract a number of stats from each group
data.groupby(
   ['month', 'item']
).agg(
    {
         # Sum duration per group
         'duration' : 'sum',
         # Get the count of networks
         'network' : 'count',
         # Get the first date per group
         'date' : 'first'
    }
)

               duration  network                date
month   item
2014-11 call  25547.000      107 2014-10-15 06:58:00
        data    998.441       29 2014-10-15 06:58:00
        sms      94.000       94 2014-10-16 22:18:00
2014-12 call  13561.000       79 2014-11-14 17:24:00
        data   1032.870       30 2014-11-13 06:58:00
        sms      48.000       48 2014-11-14 17:28:00
2015-01 call  17070.000       88 2014-12-15 20:03:00
        data   1067.299       31 2014-12-13 06:58:00
        sms      86.000       86 2014-12-15 19:56:00
2015-02 call  14416.000       67 2015-01-15 10:36:00
        data   1067.299       31 2015-01-13 06:58:00
        sms      39.000       39 2015-01-15 12:23:00
2015-03 call  21727.000       47 2015-02-12 20:15:00
        data    998.441       29 2015-02-13 06:58:00
        sms      25.000       25 2015-02-19 18:46:00

In [47]:
# Group the data frame by month and item and extract a number of stats from each group
data.groupby(
    ['month', 'item']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'duration' : ['min', 'max', 'sum'],
        # find the number of network type entries
        'network' : ['count'],
        # minimum, first, and number of unique dates
        'duration' : ['min', 'first', 'count'],
        
    }
)

             duration                network
                  min    first count   count
month   item
2014-11 call    1.000   13.000   107     107
        data   34.429   34.429    29      29
        sms     1.000    1.000    94      94
2014-12 call    2.000  124.000    79      79
        data   34.429   34.429    30      30
        sms     1.000    1.000    48      48
2015-01 call    2.000    4.000    88      88
        data   34.429   34.429    31      31
        sms     1.000    1.000    86      86
2015-02 call    1.000   28.000    67      67
        data   34.429   34.429    31      31
        sms     1.000    1.000    39      39
2015-03 call    2.000   69.000    47      47
        data   34.429   34.429    29      29
        sms     1.000    1.000    25      25

In [48]:
#create your own user defined function here to use on the dataset.
#if you have been following along in the videos you should already have one prepared.

def most_recent(data, n=15, column='date'):
    return data.sort_values(by=column)[-n:]
most_recent(data)

,index,date,duration,item,month,network,network_type
815,815,2015-03-04 10:30:00,1.000,sms,2015-03,Three,mobile
816,816,2015-03-04 12:29:00,10528.000,call,2015-03,landline,landline
817,817,2015-03-05 06:58:00,34.429,data,2015-03,data,data
818,818,2015-03-06 06:58:00,34.429,data,2015-03,data,data
819,819,2015-03-07 06:58:00,34.429,data,2015-03,data,data
820,820,2015-03-08 06:58:00,34.429,data,2015-03,data,data
821,821,2015-03-09 06:58:00,34.429,data,2015-03,data,data
822,822,2015-03-10 06:58:00,34.429,data,2015-03,data,data
823,823,2015-03-11 06:58:00,34.429,data,2015-03,data,data
824,824,2015-03-12 06:58:00,34.429,data,2015-03,data,data
825,825,2015-03-13 00:38:00,1.000,sms,2015-03,world,world
826,826,2015-03-13 00:39:00,1.000,sms,2015-03,Vodafone,mobile
827,827,2015-03-13 06:58:00,34.429,data,2015-03,data,data
828,828,2015-03-14 00:13:00,1.000,sms,2015-03,world,world
829,829,2015-03-14 00:16:00,1.000,sms,2015-03,world,world

In [49]:
#perform a visualization of the grouped data. You can choose any grouping/vis you wish. Make sure
#to visualize the grouped data in a useful way.
import matplotlib.pyplot as plt


cols = data.month.unique()
sales = months['duration'].sum()

plt.title('Monthly Total Duration')

plt.bar(cols, sales, label = 'Total use per month')

plt.legend(loc='lower right', bbox_to_anchor=(1.44, .4))

plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [33]:
#report one interesting finding about mobile phone networks from this analysis that
#you noted during the analysis.

#this is the longest call made on a phone
data[data['network_type'] == 'mobile'].duration.max()

2328.0